<%- include('../partials/header.ejs')%>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Employees</h1>
            </div>
        </header>
        <div class="table-responsive">
            <table class="table ">
                <tr>
                    <th>Username</th>
                    <th>Position</th>
                    <th>Id</th>
                    <th>Mobile</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <%= user.position%>
                        </td>
                        <td>
                            <%= user._id %>
                        </td>
                        <td>
                            <%= user.phone %>
                        </td>
                        <td><a class="btn btn-xs btn-warning" href="/admin/<%=user._id%>/edit">&#128394;&#65039;
                                Edit</a></td>
                        <td>
                            <form id="delete-form" action="/admin/<%= user._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">&#128465;&#65039; Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }); %>
            </table>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>