<%- include('../partials/header.ejs')%>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Orders</h1>
                <p>My Orders</p>
                <a class="btn btn-large btn-primary" href="/customer/sold/new">New Order</a>
            </div>
        </header>
        <div class="table-responsive">
            <table class="table ">
                <tr>
                    <th>Id</th>
                    <th>Device</th>
                    <th>Quantity</th>
                </tr>
                <% solds.forEach(function(sold){ %>
                    <tr>
                        <td>
                            <%= sold._id %>
                        </td>
                        <td>
                            <%= sold.device%>
                        </td>
                        <td>
                            <%= sold.quantity%>
                        </td>
                    </tr>
                    <% }); %>
            </table>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>