<%- include('../partials/header.ejs')%>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Service</h1>
                <p>My Services</p>
                <a class="btn btn-large btn-primary" href="/customer/services/new">New Service</a>
            </div>
        </header>
        <a href="/profile">Go Back To Your Profile</a>
        <div class="table-responsive">
            <table class="table ">
                <tr>
                    <th>Id</th>
                    <th>Device</th>
                    <th>Failure</th>
                    <th>State</th>
                </tr>
                <% services.forEach(function(service){ %>
                    <tr>
                        <td>
                            <%= service._id %>
                        </td>
                        <td>
                            <%= service.device%>
                        </td>
                        <td>
                            <%= service.failure %>
                        </td>
                        <td>
                            <%= service.state%>
                        </td>

                    </tr>
                    <% }); %>
            </table>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>